<% if @weather.present? %>
  <% if @weather["cod"] == "200" %>
  <h2 style="font-family: 'Lobster', cursive;"><b>Weather Forecast</b></h2>
    <ul>
      <p>location: <b><%= %"#{params[:keyword]}" %></b></p>
      <% @weather["list"].each_with_index do |weather, i| %>
      <li><%= "#{(@weather["list"][i]["dt_txt"])}" %><br>
          <%= "#{(@weather["list"][i]["main"]["temp"]-273.15).round(2)}" %>℃
          <%= "#{(@weather["list"][i]["weather"][0]["main"])}" %>
          <% imgurl = "http://openweathermap.org/img/w/#{@weather["list"][i]["weather"][0]["icon"]}.png" %>
          <%= image_tag "#{imgurl}" %>
      </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
 <p>Once you put prefecture above, </br>the weather info will be shown here.</p>
<% end %>

